# Preprocesamiento de valores perdidos

En este *notebook* vamos a aplicar distintos tipos de preprocesamiento de valores perdidos.

In [47]:
import pandas as pd

## Lectura con valores perdidos

Lo primero es una lectura correcta de los valores. Si no tenemos en cuenta que existen valores perdidos, y cómo están representados en el CSV, interpretará dicha columna como valor de cadena.

In [48]:
df = pd.read_csv("mamografias.csv")

In [49]:
df.head()

  BI-RADS Age Shape Margin Density Severity
0       5  67     L      5       3  maligno
1       4  43     R      1       ?  maligno
2       5  58     I      5       3  maligno
3       4  28     R      1       3  benigno
4       5  74     R      5       ?  maligno

In [50]:
df.dtypes

BI-RADS     object
Age         object
Shape       object
Margin      object
Density     object
Severity    object
dtype: object

La solución a esto es indicar que el "?" indica un valor perdido, y eso se hace con:

In [51]:
df = pd.read_csv("mamografias.csv", na_values=["?"])

In [52]:
df.head()

   BI-RADS   Age Shape  Margin  Density Severity
0      5.0  67.0     L     5.0      3.0  maligno
1      4.0  43.0     R     1.0      NaN  maligno
2      5.0  58.0     I     5.0      3.0  maligno
3      4.0  28.0     R     1.0      3.0  benigno
4      5.0  74.0     R     5.0      NaN  maligno

# Opción simple, borrar

Lo más simple es eliminar cualquier columna cuyo atributo esté perdido o no sea un valor válido. Para los perdidos se puede usar dropna().

In [53]:
df2 = df.copy()
df2.dropna()

     BI-RADS   Age Shape  Margin  Density Severity
0        5.0  67.0     L     5.0      3.0  maligno
2        5.0  58.0     I     5.0      3.0  maligno
3        4.0  28.0     R     1.0      3.0  benigno
8        5.0  57.0     R     5.0      3.0  maligno
9        5.0  60.0     N     5.0      1.0  maligno
..       ...   ...   ...     ...      ...      ...
956      4.0  47.0     O     1.0      3.0  benigno
957      4.0  56.0     I     5.0      3.0  maligno
958      4.0  64.0     I     5.0      3.0  benigno
959      5.0  66.0     I     5.0      3.0  maligno
960      4.0  62.0     L     3.0      3.0  benigno

[847 rows x 6 columns]

Es sencillo, pero tiene el problema de perder muchos datos.

# Opción alternativa: Reemplazarlos

La otra opción es reemplazar el valor perdido con un valor, puede ser:
    
- Valor más frecuente en dicha columna.
- Valor promedio.
- Valor que no perjudique la media y la std.

Para ello podemos usar sklearn.impute, vamos a hacer un ejemplo.

In [54]:
from sklearn import impute

In [55]:
df.Density.head()

0    3.0
1    NaN
2    3.0
3    3.0
4    NaN
Name: Density, dtype: float64

In [62]:
df.Density.tail(20)

941    3.0
942    3.0
943    1.0
944    3.0
945    3.0
946    3.0
947    3.0
948    3.0
949    3.0
950    3.0
951    3.0
952    3.0
953    3.0
954    3.0
955    3.0
956    3.0
957    3.0
958    3.0
959    3.0
960    3.0
Name: Density, dtype: float64

Primero creamos un SimpleImputer, y lo aplicamos. Como el SimpleImputer trabaja con una matriz de vectores usamos [], y luego usaremos la primera fila devuelta.

In [57]:
imputer = impute.SimpleImputer()

values = imputer.fit_transform([df.Density.values])
values

array([[3., 3., 3., 3., 3., 3., 3., 1., 3., 3., 3., 2., 2., 3., 3., 3.,
        3., 1., 1., 3., 3., 3., 3., 3., 3., 2., 3., 3., 2., 3., 3., 2.,
        2., 1., 3., 2., 3., 4., 3., 2., 3., 3., 1., 3., 3., 3., 3., 3.,
        3., 3., 2., 3., 3., 3., 3., 2., 3., 2., 1., 3., 2., 3., 1., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3., 2., 3., 3.,
        3., 2., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 2., 3., 3., 3., 3., 3., 4., 4., 3., 2., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3.,
        3., 3., 4., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 1., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 1., 3., 3., 3.,
        3., 3., 3., 3., 3., 1., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 2., 3., 3., 3., 2., 3., 3., 1., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3.,
        3., 2., 3., 3., 3., 3., 4., 4., 3., 2., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 2., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 2., 2., 3., 2., 2., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 4.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 4., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 4., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 1., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 1., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        2., 2., 3., 3., 3., 3., 3., 3., 4., 3., 2., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        2., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 2., 2., 3., 3.,
        2., 3., 3., 3., 3., 2., 3., 3., 3., 2., 2., 3., 3., 3., 3., 3.,
        3., 3., 4., 3., 3., 3., 2., 2., 3., 3., 3., 1., 4., 3., 3., 3.,
        3., 2., 3., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 2.,
        3., 2., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 2., 3., 1.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 1., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
        3., 3., 3., 3., 3.]])

Ahora actualizamos el atributo, usando los nuevos valores.

In [63]:
df.Density.update(pd.Series(values[0]))

Comprobamos que ya no hay NaN en el atributo.

In [59]:
df.Density

0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
      ...
956    3.0
957    3.0
958    3.0
959    3.0
960    3.0
Name: Density, Length: 961, dtype: float64

In [64]:
df.Density.tail(20)

941    3.0
942    3.0
943    1.0
944    3.0
945    3.0
946    3.0
947    3.0
948    3.0
949    3.0
950    3.0
951    3.0
952    3.0
953    3.0
954    3.0
955    3.0
956    3.0
957    3.0
958    3.0
959    3.0
960    3.0
Name: Density, dtype: float64

Comprobamos que no haya Nan en el df original.

In [65]:
df.head()

   BI-RADS   Age Shape  Margin  Density Severity
0      5.0  67.0     L     5.0      3.0  maligno
1      4.0  43.0     R     1.0      3.0  maligno
2      5.0  58.0     I     5.0      3.0  maligno
3      4.0  28.0     R     1.0      3.0  benigno
4      5.0  74.0     R     5.0      3.0  maligno